.borde {
  border: 1px solid var(--borde-color-1);
}
.borde-t {
  border-top: 1px solid var(--borde-color-1);
}
.borde-r {
  border-right: 1px solid var(--borde-color-1);
}
.borde-b {
  border-bottom: 1px solid var(--borde-color-1);
}
.borde-l {
  border-left: 1px solid var(--borde-color-1);
}
.borde-x {
  border-right: 1px solid var(--borde-color-1);
  border-left: 1px solid var(--borde-color-1);
}
.borde-y {
  border-top: 1px solid var(--borde-color-1);
  border-bottom: 1px solid var(--borde-color-1);
}

@each $id, $valor in $espaciado {
  .borde-redondeado-#{$id} {
    border-radius: $valor;
  }
  .border-redondeado-t-#{$id} {
    border-top-left-radius: $valor;
    border-top-right-radius: $valor;
  }
  .border-redondeado-b-#{$id} {
    border-bottom-left-radius: $valor;
    border-bottom-right-radius: $valor;
  }
  .border-redondeado-l-#{$id} {
    border-top-left-radius: $valor;
    border-bottom-left-radius: $valor;
  }
  .border-redondeado-l-#{$id} {
    border-top-right-radius: $valor;
    border-bottom-right-radius: $valor;
  }
  .borde-redondeado-t-l-#{$id} {
    border-top-left-radius: $valor;
  }
  .borde-redondeado-t-r-#{$id} {
    border-top-right-radius: $valor;
  }
  .borde-redondeado-b-l-#{$id} {
    border-bottom-left-radius: $valor;
  }
  .borde-redondeado-b-r-#{$id} {
    border-bottom-right-radius: $valor;
  }
}
