$borde-redondeado: (
  '0': 0,
  '1': 1px,
  '2': 2px,
  '3': 4px,
  '4': 8px,
  '5': 16px,
); // TODO: sacar las variabes

// TODO: validacion para cuando se ponga borde aun details tambien ponerlo al summary?
@each $id, $valor in $borde-redondeado {
  .borde-redondeado-#{$id} {
    border-radius: $valor;
  }
  .borde-t-redondeado-#{$id} {
    border-top-left-radius: $valor;
    border-top-right-radius: $valor;
  }
  .borde-b-redondeado-#{$id} {
    border-bottom-left-radius: $valor;
    border-bottom-right-radius: $valor;
  }
  .borde-r-redondeado-#{$id} {
    border-top-left-radius: $valor;
    border-bottom-left-radius: $valor;
  }
  .borde-l-redondeado-#{$id} {
    border-top-right-radius: $valor;
    border-bottom-right-radius: $valor;
  }
  .borde-t-l-redondeado-#{$id} {
    border-top-left-radius: $valor;
  }
  .borde-t-r-redondeado-#{$id} {
    border-top-right-radius: $valor;
  }
  .borde-b-l-redondeado-#{$id} {
    border-bottom-left-radius: $valor;
  }
  .borde-b-r-redondeado-#{$id} {
    border-bottom-right-radius: $valor;
  }
}
