hr {
  border-top: 1px solid var(--borde-color-1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: map-get($espaciado, '2');
  margin-bottom: map-get($espaciado, '2');
}

h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr,
h5 + hr,
h6 + hr {
  margin-top: calc(map-get($espaciado, '1') * -1);
}

ul + hr,
ol + hr {
  margin-top: map-get($espaciado, '0');
  margin-bottom: map-get($espaciado, '0');
}

.separador,
.separador-primario {
  border-top-color: var(--borde-color-1);
}

.separador-secundario {
  border-top-color: var(--borde-color-2);
}
