.parrafo-texto-alto {
  font-size: 1.25rem; // 20px
}
.parrafo-texto-desplazado {
  font-size: 1.125rem; // 18px
  font-weight: 500;
}
.parrafo-texto-entresacado {
  color: var(--tipografia-color-3);
  font-size: 1.5rem; // 24px
  line-height: calc(1.25 * 1em);
  @include mediaquery(esc) {
    font-size: 1.75rem; // 28px
  }
}
