.texto-color-base {
  color: var(--tipografia-color);
}
.texto-color-1 {
  color: var(--tipografia-color-1);
}
.texto-color-2 {
  color: var(--tipografia-color-2);
}
.texto-color-3 {
  color: var(--tipografia-color-3);
}
.texto-color-4 {
  color: var(--tipografia-color-4);
}
