@each $nombre, $color in $color-gobmx {
  .gobmx-fondo-#{$nombre} {
    background-color: $color;
  }
  .gobmx-borde-#{$nombre} {
    border-color: $color;
  }
  .gobmx-texto-#{$nombre} {
    color: $color;
  }
}

@each $nombre, $color in $color-conacyt {
  .conacyt-fondo-#{$nombre} {
    background-color: $color;
  }
  .conacyt-borde-#{$nombre} {
    border-color: $color;
  }
  .conacyt-texto-#{$nombre} {
    color: $color;
  }
}
.conacyt-fondo-degradado {
  background-image: $color-conacyt-degradado;
}
