button,
input[type=button],
input[type=submit],
input[type=reset],
.boton {
  border-style: solid;
  border-width: 1px;
  border-radius: calc(map-get($espaciado, '1') * .5);
  box-shadow: 3px 3px 4px transparent;
  box-sizing: border-box;
  font-family: var(--tipografia-familia, 'sans-serif');
  font-size: 1rem;
  font-weight: 500;
  line-height: calc(1em * 1.3);
  padding: map-get($espaciado, '2') map-get($espaciado, '3');
  text-decoration: none;
  text-align: center;
  display: inline-flex;
  align-items: center;
  &:not(:disabled) {
    cursor: pointer;
    transition: all .27s ease-in-out;
  }
  &:disabled {
    pointer-events: none;
  }
}

.boton-primario {
  background-color: var(--boton-primario-fondo);
  border-color: var(--boton-primario-borde);
  color: var(--boton-primario-color);
  &:disabled {
    background-color: var(--boton-primario-deshabilitado-fondo);
    border-color: var(--boton-primario-deshabilitado-borde);
    box-shadow: 3px 3px 4px var(--boton-primario-deshabilitado-sombra);
    color: var(--boton-primario-deshabilitado-color);
  }
  &:not(:disabled):hover {
    background-color: var(--boton-primario-hover-fondo);
    border-color: var(--boton-primario-hover-borde);
    box-shadow: 3px 3px 4px var(--boton-primario-hover-sombra);
    color: var(--boton-primario-hover-color);
  }
  &:not(:disabled):focus {
    background-color: var(--boton-primario-focus-fondo);
    border-color: var(--boton-primario-focus-borde);
    box-shadow: 0 0 8px var(--boton-primario-focus-sombra);
    color: var(--boton-primario-focus-color);
    outline: none;
  }
}

.boton-secundario {
  background-color: var(--boton-secundario-fondo);
  border-color: var(--boton-secundario-borde);
  color: var(--boton-secundario-color);
  &:disabled {
    background-color: var(--boton-secundario-deshabilitado-fondo);
    border-color: var(--boton-secundario-deshabilitado-borde);
    box-shadow: 3px 3px 4px var(--boton-secundario-deshabilitado-sombra);
    color: var(--boton-secundario-deshabilitado-color);
  }
  &:not(:disabled):hover {
    background-color: var(--boton-secundario-hover-fondo);
    border-color: var(--boton-secundario-hover-borde);
    box-shadow: 3px 3px 4px var(--boton-secundario-hover-sombra);
    color: var(--boton-secundario-hover-color);
  }
  &:not(:disabled):focus {
    background-color: var(--boton-secundario-focus-fondo);
    border-color: var(--boton-secundario-focus-borde);
    box-shadow: 0 0 8px var(--boton-secundario-focus-sombra);
    color: var(--boton-secundario-focus-color);
    outline: none;
  }
}

.boton-terciario {
  background-color: var(--boton-terciario-fondo);
  border-color: var(--boton-terciario-borde);
  color: var(--boton-terciario-color);
  &:disabled {
    background-color: var(--boton-terciario-deshabilitado-fondo);
    border-color: var(--boton-terciario-deshabilitado-borde);
    box-shadow: 3px 3px 4px var(--boton-terciario-deshabilitado-sombra);
    color: var(--boton-terciario-deshabilitado-color);
  }
  &:not(:disabled):hover {
    background-color: var(--boton-terciario-hover-fondo);
    border-color: var(--boton-terciario-hover-borde);
    box-shadow: 3px 3px 4px var(--boton-terciario-hover-sombra);
    color: var(--boton-terciario-hover-color);
  }
  &:not(:disabled):focus {
    background-color: var(--boton-terciario-focus-fondo);
    border-color: var(--boton-terciario-focus-borde);
    box-shadow: 0 0 8px var(--boton-terciario-focus-sombra);
    color: var(--boton-terciario-focus-color);
    outline: none;
  }
}

.boton-chico {
  // TODO: confirmar con diseño el tamaño de la tipograria
  font-size: 0.875rem; // 14px
  padding: map-get($espaciado, '1') map-get($espaciado, '2');
}

.boton-grande {
  // TODO: confirmar con diseño el tamaño de la tipograria
  font-size: 1.125rem; // 18px
  padding: map-get($espaciado, '3');
}
