.navegacion [class^='icono-'],
.navegacion [class*=" icono-"] {
  display: inline-flex;
  align-self: center;
  margin-top: -1px;
  margin-bottom: -1px;
  &::before {
    display: inline-flex;
    align-self: center;
    font-size: 0.875rem !important;
    line-height: 0.875rem !important;
  }
}
