ol,
ul,
dl {
  margin: 0;
}

ol,
ul {
  padding: 0 0 0 map-get($espaciado, '4');
  li {
    margin-top: map-get($espaciado, '2');
  }
  ol,
  ul {
    padding: 0 0 0 map-get($espaciado, '2');
    li {
      margin-top: map-get($espaciado, '1');
    }
  }
}

dl {
  dt {
    font-weight: 500;
    margin: map-get($espaciado, '2') 0 0 0;
  }
  dd {
    margin: map-get($espaciado, '1') 0 0 0;
  }
}