.titulo-lista {
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.3em;
  margin-top:  map-get($espaciado, '3');
  margin-bottom:  map-get($espaciado, '2');
}

.lista-plana {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
  }
}
.lista-compuesta {
  @extend .lista-plana;
  li {
    display: flex;
    width: 100%;
    padding: map-get($espaciado, '2') map-get($espaciado, '2') map-get($espaciado, '2') 0;
  }
  a {
    display: flex;
    width: 100%;
    padding: map-get($espaciado, '2');
    margin: calc(map-get($espaciado, '2') * -1);
    text-decoration: none;
    &:hover {
      background-color: var(--tabla-fondo-impar); //TODO: definir el color
    }
  }
  .elemento {
    display: flex;
    width: 100%;
  }
  .avatar {
    flex: 0 0 map-get($espaciado, '8');
  }
  .texto {
    flex: 1 1;
    display: block;
    > * {
      margin: 0;
    }
    .texto-primario {
      color: var(--tipografia-color);
      font-weight: 500;
    }
    .texto-secundario {
      color: var(--tipografia-color);
      font-weight: 400;
    }
    .texto-terciario {
      color: var(--tipografia-color-2);
      font-weight: 400;
    }
  }
}

.lista-icono {
  @extend .lista-compuesta;
  li::before {
    margin: map-get($espaciado, 'minimo') map-get($espaciado, '2') map-get($espaciado, '2')*.5 0;
  }
}

.lista-avatar {
  @extend .lista-compuesta;
  .avatar {
    width: map-get($espaciado, '8');
    height: map-get($espaciado, '8');
    border-radius: map-get($espaciado, '4');
    overflow: hidden;
    margin: map-get($espaciado, 'minimo') map-get($espaciado, '3') map-get($espaciado, 'minimo') 0;
    img,
    svg {
      width: 100%;
      object-fit: cover;
    }
  }
}

.lista-logo {
  @extend .lista-compuesta;
  .logo {
    width: calc(map-get($espaciado, 'maximo'));
    height: map-get($espaciado, '8');
    margin: 0 map-get($espaciado, '2') 0 0;
    overflow: hidden;
    img,
    svg {
      height: 100%;
      max-width: 100%;
      padding: 0;
      object-fit: fill;
    }
  }
  .nombre {
    flex: 1 1;
    display: flex;
    align-items: center;
    color: var(--tipografia-color);
    font-weight: 500;
  }
}
