.contenedor {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @each $dispositivo, $map in $contenedores {
    @include mediaquery($dispositivo) {
      padding-left: map-get($map, 'margen-interior');
      padding-right: map-get($map, 'margen-interior');
      &.ancho-fijo {
        max-width: map-get($map, 'ancho-maximo');
      }
      &.ancho-lectura {
        max-width: map-get($map, 'ancho-lectura');
      }
    }
  }
  .contenedor {
    padding-left: 0;
    padding-right: 0;
  }
}
