@each $id, $valor in $espaciado {
  .m-#{$id} {
    margin: $valor;
  }
  .m-t-#{$id} {
    margin-top: $valor;
  }
  .m-r-#{$id} {
    margin-right: $valor;
  }
  .m-b-#{$id} {
    margin-bottom: $valor;
  }
  .m-l-#{$id} {
    margin-left: $valor;
  }
  .m-x-#{$id} {
    margin-left: $valor;
    margin-right: $valor;
  }
  .m-y-#{$id} {
    margin-top: $valor;
    margin-bottom: $valor;
  }
  .p-#{$id} {
    padding: $valor;
  }
  .p-t-#{$id} {
    padding-top: $valor;
  }
  .p-r-#{$id} {
    padding-right: $valor;
  }
  .p-b-#{$id} {
    padding-bottom: $valor;
  }
  .p-l-#{$id} {
    padding-left: $valor;
  }
  .p-x-#{$id} {
    padding-left: $valor;
    padding-right: $valor;
  }
  .p-y-#{$id} {
    padding-top: $valor;
    padding-bottom: $valor;
  }
}

@each $dispositivo, $x in $breakpoints {
  @include mediaquery($dispositivo) {
    @each $id, $valor in $espaciado {
      .m-#{$id}-#{$dispositivo} {
        margin: $valor;
      }
      .m-t-#{$id}-#{$dispositivo} {
        margin-top: $valor;
      }
      .m-r-#{$id}-#{$dispositivo} {
        margin-right: $valor;
      }
      .m-b-#{$id}-#{$dispositivo} {
        margin-bottom: $valor;
      }
      .m-l-#{$id}-#{$dispositivo} {
        margin-left: $valor;
      }
      .m-x-#{$id}-#{$dispositivo} {
        margin-left: $valor;
        margin-right: $valor;
      }
      .m-y-#{$id}-#{$dispositivo} {
        margin-top: $valor;
        margin-bottom: $valor;
      }
      .p-#{$id}-#{$dispositivo} {
        padding: $valor;
      }
      .p-t-#{$id}-#{$dispositivo} {
        padding-top: $valor;
      }
      .p-r-#{$id}-#{$dispositivo} {
        padding-right: $valor;
      }
      .p-b-#{$id}-#{$dispositivo} {
        padding-bottom: $valor;
      }
      .p-l-#{$id}-#{$dispositivo} {
        padding-left: $valor;
      }
      .p-x-#{$id}-#{$dispositivo} {
        padding-left: $valor;
        padding-right: $valor;
      }
      .p-y-#{$id}-#{$dispositivo} {
        padding-top: $valor;
        padding-bottom: $valor;
      }
    }
  }
}
