a,
.hipervinculo {
  background-color: transparent;
  border: none;
  border-radius: map-get($bordes, '4');
  box-shadow: 0 0 2px var(--hipervinculo-sombra);
  box-sizing: border-box;
  color: var(--hipervinculo-color);
  font-family: var(--tipografia-familia, 'sans-serif');
  font-weight: 500;
  line-height: inherit;
  padding: 0;
  text-decoration: underline;
  text-align: left;
  cursor: pointer;
  transition: all .27s ease-in-out;
  &:disabled {
    background-color: transparent;
    color: var(--hipervinculo-deshabilitado-color);
    box-shadow: 0 0 2px var(--hipervinculo-deshabilitado-sombra);
  }
  &:hover {
    background-color: transparent;
    color: var(--hipervinculo-hover-color);
    box-shadow: 0 0 2px var(--hipervinculo-hover-sombra);
  }
  &:focus {
    background-color: transparent;
    color: var(--hipervinculo-focus-color);
    box-shadow: 0 0 0 2px var(--hipervinculo-focus-sombra);
    outline: none;
  }
}

button.hipervinculo {
  &:not(:last-child) {
    margin-right: inherit;
  }
}

a[class^="m-"],
a[class^="p-"],
.hipervinculo[class^="m-"],
.hipervinculo[class^="p-"],
a[class*=" m-"],
a[class*=" p-"],
.hipervinculo[class*=" m-"],
.hipervinculo[class*=" p-"] {
  display: inline-block;
}
