.hipervinculo-gobmx {
  @extend .hipervinculo;
  color: map-get($color-gobmx, 'identidad', 'gobmx-beige');
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: map-get($color-gobmx, 'identidad', 'gobmx-dorado');
  }
  &:focus {
    color: map-get($color-gobmx, 'identidad', 'gobmx-dorado');
  }
}

.hipervinculo-conacyt {
  @extend .hipervinculo;
  color: map-get($color-conacyt, 'utiles', 'conacyt-gris');
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: map-get($color-conacyt, 'utiles', 'conacyt-blanco');
  }
  &:focus {
    color: map-get($color-conacyt, 'utiles', 'conacyt-blanco');
  }
}
