[class^='icono-'],
[class*=" icono-"] {
  display: inline-flex;
  &::before {
    display: inline-flex;
    align-self: center;
  }
}
@each $id, $valor in $espaciado {
  .icono-#{$id} {
    font-size: $valor;
  }
}

@each $dispositivo, $x in $breakpoints {
  @include mediaquery($dispositivo) {
    @each $id, $valor in $espaciado {
      .icono-#{$id}-#{$dispositivo} {
        font-size: $valor;
      }
    }
  }
}
