.icon,
.icono {
  display: inline-flex;
  &[class^="dai-"]:before,
  &[class*=" dai-"]:before {
    display: inline-flex;
    align-self: center;
  }
}
@each $id, $valor in $espaciado {
  .icono-#{$id} {
    font-size: $valor;
  }
}

@each $dispositivo, $x in $breakpoints {
  @include mediaquery($dispositivo) {
    @each $id, $valor in $espaciado {
      .icono-#{$id}-#{$dispositivo} {
        font-size: $valor;
      }
    }
  }
}
