.a11y-simplificada {
  .a11y-simplificada-contenedor {
    box-sizing: border-box;
    display: block;
    margin: auto;
    padding: 0;
    
    @each $dispositivo, $map in $a11y-simplificada-contenedores {
      @include mediaquery($dispositivo) {
        > [class^='columna-'],
        > [class*=" columna-"] {
          display: block;
          max-width: map-get($contenedores, $dispositivo, 'ancho-lectura');
          padding: map-get($map, 'margen-interior');
          margin: map-get($map, 'margen-interior') auto;
        }
      }
    }
  }

  button:not(.hipervinculo-gobmx):not(.hipervinculo-conacyt):not(.nav-boton):not(.nav-boton-menu):not(.nav-boton-submenu),
  input[type=button],
  input[type=submit],
  input[type=reset],
  [class^='boton'],
  [class*=" boton"] {
    @extend .hipervinculo;
    &:not(:last-child) {
      margin-right:  map-get($espaciado, '1');
    }
  }

  ul,
  ol,
  .lista-avatar,
  .lista-logo {
    .avatar,
    .logo {
      display: none;
    }
  }
  img:not(.nav-logo),
  svg:not(.nav-logo),
  picture {
    display: none;
  }
}
