.a11y-simplificada { //poner en el body pa cambiar
  .a11y-simplificada-contenedor { // los contenedores que se llamen a11y-simplificada-contenedor se reformatearan cuando la a11y-simplificada este en el body
    display: grid;
    grid-template-columns: 1fr;
    max-width: $contenedor-lectura;
  }
  @include mediaquery('esc') {
    .a11y-simplificada-contenedor {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: $columnas-espaciado;
      max-width: calc(($contenedor-lectura * 2) - ($columnas-espaciado));
    }
  }

  button,
  input[type=button],
  input[type=submit],
  input[type=reset],
  [class^='boton'] {
    @extend .hipervinculo;
  }
}
