@mixin mediaquery($breakpoint) {
  @if $breakpoint == 'mov' {
    @media screen and (max-width: calc(map-get($breakpoints, 'esc') - 1px)) {
      @content;
    }
  }
  @else if $breakpoint == 'esc' {
    @media screen and (min-width: map-get($breakpoints, 'esc')) {
      @content;
    }
  }
}
