:root {
  --pagina-fondo: #fff;
  
  --tipografia-color: #141414;
  --tipografia-color-1: #fff;
  --tipografia-color-2: #6f7271;
  --tipografia-color-3: #404041;

  --tabla-fondo-impar: #f6f6f6;
  --tabla-fondo-notas: #a9a8a9;
  
  --detalle-fondo: #f6f6f6;
  --detalle-focus-sombra: #005DFF;
  
  --sombra: #0000001a;
  --sombra-focus: #005DFF;
  --sombra-hover: #00000033;

  --label-color: #6f7271;
  --input-fondo: transparent;
  --input-color: #141414;
  --input-borde: #a9a8a9;
  --input-controles-color: #14a634;
    --input-deshabilitado-fondo: #f6f6f6;
    --input-deshabilitado-color: #a9a8a9;
      --input-hover-borde: #6F7271;
        --input-focus-sombra: #005DFF;
  
  --acciones-informativo: #1256C4;
  --acciones-error: #C51228;
  --acciones-advertencia: #FEB301;
  --acciones-correcto: #069165;

  --borde-color-1: #141414;
  --borde-color-2: #6f7271;
  --borde-color-3: #a9a8a9;
  --borde-color-4: #fff;

  --tipografia-familia: 'Montserrat', sans-serif;
  --tipografia-tamanio: 16px;

  --boton-primario-fondo: #141414;
  --boton-primario-borde: #141414;
  --boton-primario-color: #fff;
  --boton-primario-sombra: transparent;
    --boton-primario-deshabilitado-fondo: #ddd;
    --boton-primario-deshabilitado-borde: #ddd;
    --boton-primario-deshabilitado-color: #a9a8a9;
    --boton-primario-deshabilitado-sombra: transparent;
      --boton-primario-hover-fondo: #404041;
      --boton-primario-hover-borde: #404041;
      --boton-primario-hover-color: #fff;
      --boton-primario-hover-sombra: #00000033;
        --boton-primario-focus-fondo: #141414;
        --boton-primario-focus-borde: #005DFF;
        --boton-primario-focus-color: #fff;
        --boton-primario-focus-sombra: #005DFF;

  --boton-secundario-fondo: #fff;
  --boton-secundario-borde: #141414;
  --boton-secundario-color: #141414;
  --boton-secundario-sombra: transparent;
    --boton-secundario-deshabilitado-fondo: #fff;
    --boton-secundario-deshabilitado-borde: #ddd;
    --boton-secundario-deshabilitado-color: #a9a8a9;
    --boton-secundario-deshabilitado-sombra: transparent;
      --boton-secundario-hover-fondo: #fff;
      --boton-secundario-hover-borde: #141414;
      --boton-secundario-hover-color: #141414;
      --boton-secundario-hover-sombra: #00000033;
        --boton-secundario-focus-fondo: #fff;
        --boton-secundario-focus-borde: #005DFF;
        --boton-secundario-focus-color: #141414;
        --boton-secundario-focus-sombra: #005DFF;

  --boton-terciario-fondo: transparent;
  --boton-terciario-borde: transparent;
  --boton-terciario-color: #141414;
  --boton-terciario-sombra: transparent;
    --boton-terciario-deshabilitado-fondo: transparent;
    --boton-terciario-deshabilitado-borde: transparent;
    --boton-terciario-deshabilitado-color: #a9a8a9;
    --boton-terciario-deshabilitado-sombra: transparent;
      --boton-terciario-hover-fondo: transparent;
      --boton-terciario-hover-borde: transparent;
      --boton-terciario-hover-color: #141414;
      --boton-terciario-hover-sombra: #00000033;
        --boton-terciario-focus-fondo: transparent;
        --boton-terciario-focus-borde: #005DFF;
        --boton-terciario-focus-color: #141414;
        --boton-terciario-focus-sombra: #005DFF;

  --hipervinculo-color: #005DFF;
  --hipervinculo-sombra: transparent;
  --hipervinculo-deshabilitado-color: #A9A8A980;
  --hipervinculo-deshabilitado-sombra: transparent;
  --hipervinculo-hover-color: #356CCC;
  --hipervinculo-hover-sombra: transparent;
  --hipervinculo-focus-color: #005DFF;
  --hipervinculo-focus-sombra: #005DFF;

  --navegacion-fondo: #eef;
  --navegacion-color: #00f;
  --navegacion-sombra: 0 1px 0 0 #ccf, 0 8px 8px -4px rgba(0,0,0,.2);
  --navegacion-redondeado: 0 0 8px 8px;
  // --navegacion-hover-color: #005DFF;
  // --navegacion-hover-fondo: #005DFF33;
  // --navegacion-hover-sombra: transparent;
  // --navegacion-activo-color: #005DFF;
  // --navegacion-activo-fondo: #fff;
  // --navegacion-activo-sombra: inset 0 -8px 0 #005DFF;
}

// COLOR
$color-gobmx: (
  'oscuro-1': #18302D,
  'oscuro-2': #1F5D50,
  'claro-1': #DFC9A1,
  'claro-2': #BD9558,
  'acento': #9E2148,
);

$color-conacyt: (
  'oscuro-1': #002663,
  'oscuro-2': #003384,
  'claro-0': #f6f6f6,
  'claro-1': #d5d5d5,
  'claro-2': #8C8D8E,
  'acento': #13aff0,
);
$color-conacyt-degradado: linear-gradient(to bottom, #003384, #002663, #001c4a);

$sombras-estados: (
  'focus': 0px 0px 8px 0 var(--sombra-focus),
  'hover': 3px 3px 9px 0 var(--sombra-hover)
);
$sombras-produndidad: (
  '0': 0 0 0 0 transparent,
  '1': 1px 1px 2px 0 var(--sombra),
  '2': 4px 4px 8px 2px var(--sombra),
  '3': 6px 6px 12px 3px var(--sombra),
  '4': 8px 8px 16px 4px var(--sombra),
  '5': 12px 12px 24px 6px var(--sombra),
);

$bordes: ( // x * 2
  '0': 0px,
  '1': 1px,
  '2': 2px,
  '4': 4px,
  '8': 8px,
  '16': 16px,
);

// RETICULA
$espaciado: ( // x * 8
  '0': 0,
  'minimo': 4px,
  '1': 8px,
  '2': 16px,
  '3': 24px,
  '4': 32px,
  '5': 40px,
  '6': 48px,
  '7': 56px,
  '8': 64px,
  '9': 72px,
  '10': 80px,
  'extra': 96px,
  'maximo': 120px,
);

$breakpoints: (
  'mov': 320px,
  'esc': 768px,
);

$nav: (
  'breakpoint': 768px,
);

$contenedores: (
  'mov': (
    'ancho-maximo': 100%,
    'ancho-lectura': 100%,
    'margen-interior': map-get($espaciado, '2'),
  ),
  'esc': (
    'ancho-maximo': 1152px,
    'ancho-lectura': 700px,
    'margen-interior': map-get($espaciado, '5'),
  )
);

$a11y-simplificada-contenedores: (
  'mov': (
    'columnas': 1,
    'espaciado': map-get($espaciado, '2'),
  ),
  'esc': (
    'columnas': 2,
    'espaciado': map-get($espaciado, '3'),
  )
);

$columnas: (
  'mov': (
    'columnas': 8,
    'espaciado': map-get($espaciado, '2'),
  ),
  'esc': (
    'columnas': 16,
    'espaciado': map-get($espaciado, '3'),
  )
);
