:root {
  --pagina-fondo: #fff;
  --pagina-fondo-inverso: #000;

  --tabla-fondo-impar: #f6f6f6;
  --tabla-fondo-notas: #a9a8a9;

  --tipografia-familia: 'Montserrat', sans-serif;
  --tipografia-tamanio: 16px;

  --tipografia-color: #141414;
  --tipografia-color-secundario: #6f7271;
  --tipografia-color-terciario: #404041;
  --tipografia-color-inverso: #fff;

  --borde-color-primario: #141414;
  --borde-color-secundario: #6f7271;
  --borde-color-terciario: #a9a8a9;

  --boton-primario-fondo: #141414;
  --boton-primario-borde: #141414;
  --boton-primario-color: #fff;
  --boton-primario-sombra: transparent;
    --boton-primario-deshabilitado-fondo: #ddd;
    --boton-primario-deshabilitado-borde: #ddd;
    --boton-primario-deshabilitado-color: #a9a8a9;
    --boton-primario-deshabilitado-sombra: transparent;
      --boton-primario-hover-fondo: #404041;
      --boton-primario-hover-borde: #404041;
      --boton-primario-hover-color: #fff;
      --boton-primario-hover-sombra: #00000033;
        --boton-primario-focus-fondo: #141414;
        --boton-primario-focus-borde: #005DFF;
        --boton-primario-focus-color: #fff;
        --boton-primario-focus-sombra: #005DFF;

  --boton-secundario-fondo: #fff;
  --boton-secundario-borde: #141414;
  --boton-secundario-color: #141414;
  --boton-secundario-sombra: transparent;
    --boton-secundario-deshabilitado-fondo: #fff;
    --boton-secundario-deshabilitado-borde: #ddd;
    --boton-secundario-deshabilitado-color: #a9a8a9;
    --boton-secundario-deshabilitado-sombra: transparent;
      --boton-secundario-hover-fondo: #fff;
      --boton-secundario-hover-borde: #141414;
      --boton-secundario-hover-color: #141414;
      --boton-secundario-hover-sombra: #00000033;
        --boton-secundario-focus-fondo: #fff;
        --boton-secundario-focus-borde: #005DFF;
        --boton-secundario-focus-color: #141414;
        --boton-secundario-focus-sombra: #005DFF;

  --boton-terciario-fondo: transparent;
  --boton-terciario-borde: transparent;
  --boton-terciario-color: #141414;
  --boton-terciario-sombra: transparent;
    --boton-terciario-deshabilitado-fondo: transparent;
    --boton-terciario-deshabilitado-borde: transparent;
    --boton-terciario-deshabilitado-color: #a9a8a9;
    --boton-terciario-deshabilitado-sombra: transparent;
      --boton-terciario-hover-fondo: transparent;
      --boton-terciario-hover-borde: transparent;
      --boton-terciario-hover-color: #141414;
      --boton-terciario-hover-sombra: #00000033;
        --boton-terciario-focus-fondo: transparent;
        --boton-terciario-focus-borde: #005DFF;
        --boton-terciario-focus-color: #141414;
        --boton-terciario-focus-sombra: #005DFF;

  --hipervinculo-color: #005DFF;
  --hipervinculo-sombra: transparent;
  --hipervinculo-deshabilitado-color: #A9A8A980;
  --hipervinculo-deshabilitado-sombra: transparent;
  --hipervinculo-hover-color: #356CCC;
  --hipervinculo-hover-sombra: transparent;
  --hipervinculo-focus-color: #005DFF;
  --hipervinculo-focus-sombra: #005DFF;
}

// COLOR
$color-gobmx: (
  'identidad': (
    'gobmx-verde': #1F5D50, //header gobierno
    'gobmx-pino': #18302D, // footer gobierno
    'gobmx-beige': #DFC9A1, // enlaces gobierno
    'gobmx-dorado': #BD9558, // hover enlaces gobierno
    'gobmx-tinto': #9E2148,
  ),
  'utiles': (
    'gobmx-gris-0': #404041, // hover de boton // texto terciario
    'gobmx-gris-1': #6F7271, // texto secundario
    'gobmx-gris-2': #A9A8A9, // textos deshabilitados
    'gobmx-gris-3': #DDD, // fondo en cajas
    'gobmx-gris-4': #F6F6F6, // boton conacyt
    'gobmx-blanco': #FFF, // textos footer gobierno
  ),
);

$color-conacyt: (
  'conacyt-degradado': linear-gradient(to bottom, #003384, #002663, #001c4a), // footer conacyt // este es especial na mas pa fondos
  'identidad': (
    'conacyt-azul': #022563,
    'conacyt-gris': #8C8D8E,
  ),
  'utiles': (
    'conacyt-negro': #141414, // cuerpo de texto
    'conacyt-gris': #d5d5d5, // enlaces conacyt
    'conacyt-blanco': #fff, // texto footer conacyt
    'conacyt-cian': #13aff0, // hover enlaces conacyt
  ),
);

// RETICULA
$espaciado: ( // base 8
  '0': 0,
  '1': 8px,
  '2': 16px,
  '3': 24px,
  '4': 32px,
  '5': 40px,
  '6': 48px,
  '7': 56px,
  '8': 64px,
  '9': 72px,
  '10': 80px,
  '11': 96px, // extra1
  '12': 120px, // extra2
);

$breakpoints: (
  'mov': 320px, //móvil
  'tab': 768px, //tableta
  'esc': 1496px, //escritorio
);

// MODULOS
// retucula
$contenedores: (
  'mov': (
    'ancho-maximo': 100%,
    'margen-interior': map-get($espaciado, '3'),
  ),
  'tab': (
    'ancho-maximo': 1064px,
    'margen-interior': map-get($espaciado, '5'),
  ),
  'esc': (
    'ancho-maximo': 1416px,
    'margen-interior': map-get($espaciado, '5'),
  ),
);
$contenedor-lectura: 720px;

$columnas: (
  'mov': 4,
  'tab': 8,
  'esc': 12
);
$columnas-espaciado: map-get($espaciado, '3');
