@charset 'UTF-8';
@import '_variables';
@import '_normalizar';
@import '_mixins';

// modulos
@import 'tipografia/base';
@import 'tipografia/titulos';
@import 'tipografia/parrafos';
@import 'tipografia/notas';
@import 'tipografia/visualizaciones';

@import 'icono/base';

@import 'boton/base';
@import 'boton/iconos';
@import 'boton/compuestos';

@import 'link/base';
@import 'link/identidad';

@import 'listas/base';
@import 'listas/anidadas';
@import 'listas/compuestas';

@import 'tablas/base';

@import 'detalle/base';

@import 'imagenes/base';

@import 'formularios/base';
@import 'formularios/validaciones';

@import 'bordes/base';
@import 'bordes/redondeado';
@import 'bordes/colores';
@import 'bordes/grosores';
@import 'bordes/separadores';

 @import 'sombras/base';

@import 'reticula/contenedores';
@import 'reticula/compuestos';
@import 'reticula/columnas';
@import 'reticula/margenes';


@import 'navegacion/navegacion';
@import 'navegacion/hipervinculos';
@import 'navegacion/botones';
@import 'navegacion/iconos';
@import 'navegacion/identidad';


@import 'color/base';
@import 'color/identidad';
@import 'color/acciones';

@import 'auxiliares/alineacion-texto';
@import 'auxiliares/color-texto';
@import 'auxiliares/alineacion-contenedores';

// a11y 
// accesibilidad debe cargar al final
// para que pueda sobre escribir los estilos
@import 'accesibilidad/simplificada';
@import 'accesibilidad/tipografia';
@import 'accesibilidad/lectura';
@import 'accesibilidad/hipervinculos';
